@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

@layer base {
  input {
    @apply border-0 focus:border-0 focus:ring-0 focus:outline-0;
  }
}
.grid-container--fit {
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  /* grid-template-rows: repeat(auto-fill, minmax(100px, 1fr)); */
}

@media (min-width: 768px) {
  .grid-container--fit {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    /* grid-template-rows: repeat(auto-fill, minmax(100px, 1fr)); */
  }
}

@media (min-width: 1280px) {
  .grid-container--fit {
    grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
    /* grid-template-rows: repeat(auto-fill, minmax(100px, 1fr)); */
  }
}

@media (min-width: 1536px) {
  .grid-container--fit {
    grid-template-columns: repeat(auto-fit, minmax(18%, 1fr));
    /* grid-template-rows: repeat(auto-fill, minmax(100px, 1fr)); */
  }
}
